@import "./font.scss";

html {
  font-size: 62.5%;
  position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

.main {
  overflow-y: scroll;
  overflow-x: hidden;
}

// @import "./1920.scss";
// @import "./1440.scss";
// @import "./1080.scss";
