.transfer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(211, 228, 255, 1),
    rgba(222, 235, 255, 1),
    rgba(255, 255, 255, 1)
  );
  background-size: 100% 100%;
  padding-top: 8.5rem;
  .transfer-content {
    max-width: 50%;
    height: 67.5%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 3px 20px #e8e8e8;
    opacity: 1;
    border-radius: 40px;

    .back-btn {
      margin-left: 2.8rem;
      margin-top: 2.3rem;
    }

    .content {
      padding: 0.8rem 7.7rem 5.3rem 7.7rem;
      text-align: center;
      > img {
        width: 6.7rem;
        height: 5.4rem;
        margin-bottom: 3.4rem;
      }

      > .address-wrapper {
        margin-bottom: 2rem;
      }
    }
  }
}
